# Node.js dependencies
node_modules/

# Local environment config
.env
.env.local
.env.*.local

# Firebase service keys
serviceAccountKey.json

# Database
*.sqlite
*.db
*.sql

# Build and logs
dist/
build/
*.log

# OS files
.DS_Store
Thumbs.dbbackend/serviceAccountKey.json
frontend/src/auth/firebase.js
